body { background-color: #fff; color: #333; }

#astro, #post_title, #pad, #wrapper, #wrapper_post, #wrap_p_and_c, #comment_name, #comment_comment, #comment_date, #header, #footer, #new_comment,
#comment_name, #comment_email, #comment_comment, #c, #c_ava, #c_name, #c_date, #c_comment, #c_ava_and_c, #tag_cloud, #widgets, #all_about, #about {
	padding: 0;
	margin: 0;
	}
body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #0F0F0F; background-color: #9FE4FF; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
#tag_cloud > p, #tags > p {
	font-family: sans-serif;
	font-size: 24px;
	}
	
#tag_cloud a, #tags a {
	text-decoration: none;
	font-size: 24px;
	}
	
/* post */

#wrapper, #wrap_p_and_c {
	margin: 0 auto;
	}

#wrap_p_and_c, #wrapper {
	max-width: 1004px;
	min-width: 940px;
	}
	
#post_body, #post_title {
  width: 870px;
  }

#post_tag_list {
	width: 840px;
	}
	
#wrapper { padding-bottom: 20px;  }

#wrapper_post {
	max-width: 870px;
	min-width: 800px;
	margin: 10px;
	}
	
/* links into post and tags*/

li a, li a:hover, li a:visited, #content p > a, #date > a, #content p > a:hover, #date > a:hover, #content p > a:visited, #date > a:visited,  #tags a, #tags a:hover, #tags a:visited, #tag_cloud a, #tag_cloud a:hover, #tag_cloud a:visited, #all_about a, #all_about a:hover, #all_about a:visited, #title a, #pages a, #links a, div.footnote > a {
	padding: 1px;
	padding-left:3px;
	padding-right:3px;
	text-decoration: none;
	}

#content p > a, #date > a, #all_about a, #new_comment > a, .footnote > a { 
	background: #77B0FF;
	color: black;
	}
	
#content p > a:hover, #date > a:hover, li a:hover, #all_about a:hover, #links a:hover, #new_comment > a, .footnote > a:hover { 
	background: black;
	color: #59D2FF;
	}

#content p > a:visited, #date a:visited, #all_about a:visited, #new_comment > a, .footnote > a:visited { 
	background: #C0CBE0;
	color: #666;
	text-decoration: none;
	}
	
/*end of links*/

#title, #title a {
	margin-left: 5px;
	color: #000;
	font: 22px Verdana;
	font-weight: bold;
	}
	
#title a:hover { 	
	background: black;
	color: #59D2FF; 
	}

#astro {
	width: 115px;
	background-color: #fff;
	float: right;
	padding-top: 10px;
	}

#astro > #date, #astro > #time {
	font: 90% Arial;
	font-weight: bold;
	padding: 20px;
	padding-bottom: 2px;
	}
	
#astro > #time {
	color: #666;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 5px;
	}

#comments { float: right; }

#content { margin: 10px;}

#content > p { 
	font-family: "times new roman", serif;
	font-size: 18px;
	letter-spacing: 0pt;
	line-height: 1.3;
	}
	
#comments > a { font: 150%  Verdana; }

#tags p > a:hover { 
	background: black;
  color: #59D2FF; 
  }

/* index {header, footer} */	
	
#header, #footer { width: 940px; margin: 0 auto; height: 92px;}

#header { margin-bottom: 1%; }

#footer { padding-top: 30px; }	

#links { 
	float: right
  }

#links a {
  line-height: 1.9;
	}

/* footnote */
.footnote {
  font-size: 12px;
  }
	


/* end footnote */
dt {
	font-weight: bold;
	}

/* comments */

#c {
	margin-left: 2%;
	margin-bottom: 2%;
	min-height: 105px;
	}

#c_ava_and_c {  padding-left: 40px; }

#c_ava {
	float: left;
	clear: bottom;
	}
	
#c_name { margin-left: 80px; }

#c_comment { 
	padding-left: 10px;
	margin-left: 40px;
	}

#c_date { float: right; }

#c_opt { float: right}
	
/* new comment form */

#new_comment {
	width: 342px;
	margin-left: 2%;
	margin-top: 70px;
	padding: 10px;
	}
	
	
#comment_name, #comment_email { margin-left: 1%; width: 334px; height: 20px; font: 120% Verdana; font-weight: bold; margin-bottom: 15px; }

#comment_comment {
	height: 130px;
	margin-left: 1%;
	width: 334px;
    }
		
#textile {
  float: right;
  margin-top: 85px;
  margin-right: 100px;
  }

/* paginate & tag cloud*/
		
#tag_cloud, #pages {
	margin: 0 auto;
	text-align: center;
	}
		
#tag_cloud a:hover {
	background: black;
	color: #59D2FF;
	}

#pages { padding: 1px; }

#pages a { 
	font-weight: bold;
	font: "Monaco", sans-serif;
	}

/*about page*/

#about { 
	margin: 0 auto;
	}

#widgets { float: right; } 

#italic {
	color: #ccc;
	font-style: italic;
	font: 75% sans-serif;
	}
	
/* table style */

table {
  border-collapse:separate;
  border-spacing:0;
}

th  {
  background-color:#3F3F3F;
  border-bottom:1px solid black;
  font-weight:bold;
  color: #fff;
}

th, td {
  padding:4px 10px 4px 5px;
}

table, td, th {
  vertical-align: middle;
}



