<div id="all_about">
<div id="title">
	De la blog <img src="http://dl.dropbox.com/u/5433393/foi.gif" />
	<div id="italic">
			(фр. нечто, относящееся к)
	</div>
</div>
<div id="about">
	<br />
	Мой <a href="http://l.it-karma.ru/1t">псевдоним</a> <a href="http://l.it-karma.ru/1z">foi</a> <i>(<a href="http://l.it-karma.ru/21">откуда?</a>)</i> <i>(специально не с большой)</i>. Он был взят в ~14 лет <i>(из <a href="http://l.it-karma.ru/1s">jrpg</a> <a href="http://l.it-karma.ru/20">Phantasy star 2</a>)</i>, так как я был ребенок и в большой мере бессознателен чем сознателен <i>(по сравнению с текущим моментом на 04.01.2010)</i>, то никнейм мне несомненно подходит.<br /> 
	Данные рождения [дата, время, место] <a href="http://l.it-karma.ru/3o">здесь</a>.<br /> 
<br />
  	<b>Контакты:</b>
	<ul>
	<li><a href="http://l.it-karma.ru/1u">plurk</a> </li>
	<li><a href="http://l.it-karma.ru/1y">вконтакте</a> </li>
	<li><a href="http://l.it-karma.ru/1x">last.fm</a> </li>
	<li><a href="http://l.it-karma.ru/1w">delicious</a> </li>
	<li><a href="http://l.it-karma.ru/1v">source code этого блога[git repo]</a></li>
	</ul>
</div> 
</div>