<div id="all_about">
	

<div id="title">
	De la blog <img src="http://dl.dropbox.com/u/5433393/foi.gif" />
	<div id="italic">
			(фр. нечто, относящееся к)
	</div>
</div>
<div id="about">

	<br />
	Мой <a href="http://l.it-karma.ru/1t">псевдоним</a> <a href="http://l.it-karma.ru/1z">foi</a> (<a href="http://l.it-karma.ru/21">откуда?</a>) (специально не с большой). Он был взят в ~14 лет (из <a href="http://l.it-karma.ru/1s">jrpg</a> <a href="http://l.it-karma.ru/20">Phantasy star 2</a>), так как я был ребенок и в большой мере бессознателен чем сознателен (по сравнению с текущим моментом на 04.01.2010), то никнейм мне несомненно подходит.<br /> 
	Данные рождения <a href="http://l.it-karma.ru/1q">23.06</a>.1988, 21:30:32 (+8), г. <a href="http://l.it-karma.ru/1r">Абакан</a> (53°43'30"N; 91°27'02"E).<br />
  <div id="title">
  	Контакты
  </div>
	<ul>
	<li><a href="http://l.it-karma.ru/1u">plurk</a> </li>
	<li><a href="http://l.it-karma.ru/1y">вконтакте</a> </li>
	<li><a href="http://l.it-karma.ru/1x">last.fm</a> </li>
	<li><a href="http://l.it-karma.ru/1w">delicious</a> </li>
	<li><a href="http://l.it-karma.ru/1v"><b>source code</b> этого блога <b>[git repo]</b></a></li>
	</ul>
</div> 
	
</div>