<div id="links">
	<p><a href="https://github.com/foi/zet_int_texts">Репозиторий с интерпретационными текстами</a> <a href="http://ompldr.org/vNmt6Zw/google-reader-subscriptions.xml">Подборка feed-ов по астрологии (google reader)</a> <%= link_to 'Архив', archive_path %> | <%= link_to 'О блоге', o_path -%></p>
</div>