<div id="links">
	<p><a href="http://feeds.feedburner.com/it-karma"><img src="http://feeds.feedburner.com/~fc/it-karma?bg=FFCC00&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
	<%= link_to 'o_O', o_path -%>
</div>