<div id="wrapper">
	<%= render :partial => 'posts/astro', :locals => { :post => @post } %>
	<div id="wrapper_post">
	  <%= render :partial => 'posts/post', :locals => { :post => @post } %>
	<br />
	</div>
</div>